services:
  # =========================
  # PostgreSQL - NY Taxi
  # =========================
  pgdatabase:
    image: postgres:18
    container_name: ny_taxi_postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ny_taxi
    ports:
      - "5432:5432"
    volumes:
      - ny_taxi_postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d ny_taxi"]
      interval: 30s
      timeout: 10s
      retries: 5

  # =========================
  # pgAdmin
  # =========================
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "8085:80"
    depends_on:
      pgdatabase:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  # =========================
  # PostgreSQL - Kestra
  # =========================
  kestra_postgres:
    image: postgres:18
    container_name: kestra_postgres
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    volumes:
      - kestra_postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kestra -d kestra"]
      interval: 30s
      timeout: 10s
      retries: 10

  # =========================
  # Kestra Server
  # =========================
  kestra:
    image: kestra/kestra:v1.1
    container_name: kestra
    command: server standalone
    user: "root"
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - kestra_data:/app/storage
      - kestra_tmp:/tmp/kestra-wd
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://kestra_postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: k3str4

        kestra:
          server:
            basicAuth:
              username: admin@kestra.io
              password: Admin1234!
          repository:
            type: postgres
          queue:
            type: postgres
          storage:
            type: local
            local:
              basePath: /app/storage
          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/
    depends_on:
      kestra_postgres:
        condition: service_healthy

# =========================
# Volumes
# =========================
volumes:
  ny_taxi_postgres_data:
    driver: local
  kestra_postgres_data:
    driver: local
  kestra_data:
    driver: local
  kestra_tmp:
    driver: local
  pgadmin_data:
    driver: local
